<%- include('../layout/header.ejs') -%>

  <div class="wrapper">

    <div class="" style="margin-left: 4rem; margin-bottom: 2rem;">
      <img src="/img/logo.png" alt="">
    </div>

    <h2 style="margin-bottom: 2rem;">Admin Login</h2>

    <form action="/admin/login" method="post">

      <div class="input-box">
        <%if(messages.email) {%>
          <div class="text-danger " id="userError" style="position: absolute; top: -22px; left: 6px;">
            <%= messages.email %>
          </div>
          <%}%>
        <input type="text" name="email" placeholder="Enter your email" required style="padding: 10px; margin: 1rem, 0; ">
      </div>
      <div class="input-box">
        <%if(messages.password) {%>
          <div class="text-danger " id="passError" style="position: absolute; top: -22px; left: 6px;">
            <%= messages.password %>
          </div>
          <%}%>
            <input type="password" name="password" placeholder="Enter password" required style="padding: 10px; margin: 1rem, 0; ">
      </div>

      <div class="input-box ">
        <input type="submit" class="btn btn-outline-dark btn-lg" placeholder="Log in">


      </div>


    </form>
  </div>

  <%- include('../layout/footer.ejs') -%>