


<div class="screen-overlay"></div>
<aside class="navbar-aside" id="offcanvas_aside">
    <div class="aside-top">
        <a href="index.html" class="brand-wrap">
            <img src="/assets/imgs/theme/logo.svg" class="logo" alt="Nest Dashboard" />
        </a>
        <div>
            <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
        </div>
    </div>
    <nav>
        <ul class="menu-aside">
            <li class="menu-item">
                <a class="menu-link" href="/admin/">
                    <i class="icon material-icons md-home"></i>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="menu-item">
                <a class="menu-link" href="/admin/user">
                    <i class="icon material-icons md-shopping_bag"></i>
                    <span class="text">Customers</span>
                </a>
               
            </li>
            <li class="menu-item has-submenu">
                <a class="menu-link" href="page-orders-1.html">
                    <i class="icon material-icons md-shopping_cart"></i>
                    <span class="text">Orders</span>
                </a>
                <div class="submenu">
                    <a href="page-orders-1.html">Order list 1</a>
                    
                </div>
            </li>
            <li class="menu-item ">
                <a class="menu-link" href="/admin/product">
                    <i class="icon material-icons md-store"></i>
                    <span class="text">Products</span>
                </a>
               
            </li>
           
            <li class="menu-item ">
                <a class="menu-link" id="id" href="/admin/cetagory">
                    <i class="icon material-icons md-monetization_on"></i>
                    <span class="text">Categary</span>
                </a>
               
            </li>
           
           
            
            
        </ul>
        <hr />
        <ul class="menu-aside">
           
        </ul>
        <br />
        <br />
    </nav>
</aside>


<script>

    document.addEventListener('DOMContentLoaded', () => {

      const active = document.getElementById('id')
       active.addEventListener('click', () => {
            active.classList.add('active')
        },)
        
    })
</script>