*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }


body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#ffffff;
    font-family: "Nunito Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
   
  }


 

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	color: #111111;
	
	font-family: "Nunito Sans", sans-serif;
}
  .wrapper{
    position: relative;
    max-width: 430px;
    width: 100%;
    background: #fff;
    padding: 34px;
    border-radius: 6px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    
  }
  .wrapper h2{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #333;
  }
  .wrapper h2::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 28px;
    border-radius: 12px;
    background: #000000;
  }
  .wrapper form{
    margin-top: 30px;
  }
  .wrapper form .input-box{
    height: 52px;
    margin: 18px 0;
    margin-bottom: 1.5rem;
  }
  form .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-weight: 400;
    color: #333;
    border: 1.5px solid #C7BEBE;
    border-bottom-width: 2.5px;
    border-radius: 6px;
    transition: all 0.3s ease;
  }
  .input-box input:focus {
    border-color: #4070f4;
  }
  form .policy{
    display: flex;
    align-items: center;
  }
  form h3{
    color: #707070;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
  }
  .input-box.button input{
    color: #fff;
    letter-spacing: 1px;
    border: none;
    background: #000000;
    cursor: pointer;
  }
  .input-box.button input:hover{
    background: #000;
  }
  form .text h3{
   color: #333;
   width: 100%;
   text-align: center;
  }
  form .text h3 a{
    color: #000000;
    text-decoration: none;
  }
  form .text h3 a:hover{
    text-decoration: underline;
  }

  .login {
    
  }